h1{width:100%;height:100px; background-color: aquamarine;}

.searchBox{float:left;width:600px; height:800px; background-color: cornflowerblue;}
.mapBox{float:right;width:1460px; height:800px; background-color: antiquewhite;}